$header-background:#5fc0cd;
body{
    height: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 480px;
    min-width: 320px;
}
header{
    @extend body;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background: $header-background;
    position: fixed;
    z-index: 10;
    .title{
        display: flex;
        background: #55a8b3;
        border-radius: 7px;
        span{
            padding: 8px 12px;
            color:#fbfbfb;
            font-size: 17px;
        }
        .header-span{
            background: #fbfbfb;
            border-radius: 7px;
            color:$header-background    
        }
    }
    img{
        width: 25px;
        margin-right: 15px;
    }
    p{
        padding: 20px;
    }
}
nav{
    @extend body;
    display: flex;
    height: 44px;
    border-bottom: 1px solid #e1e5e7;
    background: #fbfbfb;
    color:#999;
    position: fixed;
    top:60px;
    z-index: 10;
}
ul{
    width: 33%;
    margin: 0;
    padding: 0;
    border-left: 1px solid #e1e5e7;
    border-right: 1px solid #e1e5e7;
    list-style: none;
    height: 45px;
    text-align: center;
    line-height: 45px;
    position: relative;
    img{
        width: 10px;
        position: absolute;
        right: 10px;
        top: 20px;
    }
    &:hover{
        background: #d8d8d8;
    }
    .nav-ul{
        width: 100%;
        border: 0;
        height: 0;
    }
}
.nav-li{
    height: 35px;
    line-height: 35px;
    background: #eeeeee;
    display: none;
    &:hover{
        background: #d8d8d8;
    }
}
ul:hover .nav-li{
    display: block;
}
main{
    height: 100%;
    background: #fbfbfb;
    color:#999;
    font-size: 14px;
    .list{
        height: 105px;
        border-bottom: 1px solid #e1e5e7;
        position: relative;
        top:105px;
    }
    .content{
        display: flex;
        align-items: center;
        height: 35px;
        img{
            height: 14px;
            margin: 0 10px;
        }
    }
    .content-1{
        @extend .content;
        justify-content: space-between;
        margin-left: 33px;
        span{
            color:#000;
            font-size: 16px;
        }
        .span-1{
            color:#e63b0e;
        }
    }
}
footer{
    @extend body;
    display: flex;
    justify-content: space-around;
    height: 55px;
    background: #f1f1f1;
    position: fixed;
    bottom:0;
    a{
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    font-size: 13px;
    color:#999;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    }
    img{
        height: 25px;
    }
    button{
        width: 50px;
        height: 50px;
        margin-top: 3px;
        border: 0;
        border-radius: 50%;
        background: $header-background;
        outline:none;
        cursor:pointer;
    }
}