body{
     margin: 0;padding: 0;
     background: #eff0f4;
}
header{
       margin-left:10px;
       margin-right:10px;
       color:#ffffff;
       font-size: 14px;



}
.rectangle{
           display:flex;
           justify-content: space-between;
           align-items:center;
           height:60px;
           background:#5fc0cd;

}
p{
    color:#ffffff;
}
.png1 {
      display:flex;
      flex-direction:row;
      margin-top:10px;
      margin-bottom:10px;
      background: #ffffff;


}
img{
    width:15px;
    margin:20px;
    border-right:2px solid #eff0f4;
    padding-right: 22px;
}
.png2{
      display:flex;
      flex-direction:row;
      margin-bottom:10px;
      background: #ffffff;

}
span{
     margin-top:20px;
     color:#bababa;
}
.ok{
    display:flex;
    justify-content:center;
    height:60px;
    background:#5fc0cd;

}
.arial{
       font-size:17px;
}
.ct{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
input{
      border:none;
      outline:medium;
      color:#020202;
      font-size: 15px;
}
a{
    text-decoration:none;
    color:#5fc0cd;
}

