body{
    margin: 0;padding: 0;
    height: 800px;
}
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background: #5fc0cd;
    position: fixed;
    z-index: 10;
}
.prs{
    display: flex;
    justify-content:space-between;
    height: 42px;
    width: 150px;
    border-radius: 7px;
    background: #55a8b3;
}
.prs1{
    margin-right: 40px;
}
.png{
    height: 25px;
    margin-right: 15px;
}
.prs2{
    color: #ffffff;
    font-size: 17px;
}
.prs3{
    width: 75px;
    margin-top: 9px;
    text-align: center;
}
.prs4{
    display: flex;
    align-items:center;
    width: 75px;
    border-radius: 7px;
    background: #ffffff;
}
.prs5{
    margin-left: 13px;
    color: #5fc0cd;
    font-size: 17px;
}
.nav{
    display: flex;
    justify-content:space-around;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    background: #eff0f4;
    position: fixed;
    top:55px;
    z-index: 10;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.uls{
    width: 33.3%;
    height: 50px;
    color:#555555;
    text-align: center;
}
.ulx{
    width: 33.5%;
    height: 50px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    color:#555555;
    text-align: center;
}
.png1{
    margin-top: 22px;
    margin-right: 7px;
    height:5px;
    float: right;
}
.li1{
    height: 50px;
    line-height: 50px;
}
.lix{

    width: 100%;
    height: 75px;
    background:#b6e7ff;
    display: none;
}
.uls:hover .lix{
    display: block;
    color: #5fc0cd;
}
.ulx:hover .lix{
    display: block;
    color: #5fc0cd;

}
li:hover{
    background-color: #c2c2c2;
}
.li2{
    line-height: 24px;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
.sp{
    margin-left: 12px;
}
.znr{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #c2c2c2;
    position: relative;
    top:107px;
}
.znr0{
    width: 50%;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.znr1{
    color: red;
}
.znr2{
    height: 20px;
    margin-left: 10px;
}
.znr3{
    display: flex;
    align-items:center;
    width: 110px;
}
.znt0{
    display: flex;
    align-items:center;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
}
.znt{
    height: 13px;
    margin-right: 8px;
}
.znt1{
    font-size: 13px;
    color: #555555;
}
.znt2{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-left: 32px;
    font-size: 15px;
}
footer{
    display: flex;
    justify-content:space-around;
    height: 60px;
    width: 100%;
    background: #eff0f4;
    position: fixed;
    bottom: 0;
}
.fo{
    width: 45px;
    height: 57px;
    margin-top: 3px;
    margin-left: 15%;
    border: 0;
    background: #eff0f4;
}
.fo0{
    width: 45px;
    height: 57px;
    margin-top: 3px;
    margin-right: 15%;
    border: 0;
    background: #eff0f4;
}
.fo1{
    height: 25px;
}
.fo2{
    font-size: 12px;
    color: #5fc0cd;
}
.fo3{
    font-size: 12px;
    color: #555555;
}
.fe{
    width: 55px;
    height: 55px;
    margin-top: 3px;
    background: #5fc0cd;
    border-radius:50%;
    border: 0;
}
.fe1{
    height: 25px;
}
button{
    cursor:pointer;
    outline:none;
}