body{
    margin: 0;padding: 0;
    height: 1800px;
    background: #29bde0;
}
header{
    position: fixed;
    width: 100%;
    background: #29bde0;
    z-index: 10;
}
.ark{
    display: flex;
    justify-content:space-between;
    height: 55px;
    background: #29bde0;
}
.ark0{
    height: 25px;
    margin: 15px;
    font-size: 18px;
    color:#ffffff;
}
.ark1{
    display: flex;
    justify-content:space-between;
    height: 50px;
    background: #b9e9f5;text-align: center;
}
.ark2{
    margin-left: 30px;
    font-size: 15px;
    color:#464646;
    line-height: 50px;
}
.ark3{
    height: 35px;
    margin-bottom: 7px;
    position: relative;
    left: 45px;
}
.ark4{
    width: 0;
    height: 0;
    margin-left: 30px;
    border: 8px solid;
    border-color: #b9e9f5 transparent transparent transparent;
}
audio{
    width: 90px;
    height: 50px;
    opacity:0;
    margin-right: -40px;
}
.ark5{
    margin-top: 0;
    margin-left: 30px;
    font-size: 13px;
    color:#ffffff;
}
.brk{
    display: flex;
    justify-content:space-around;
    align-items:center;
    height: 36vw;
    width: 100%;
    position: relative;
    top:141px;
}
.brk1{
    width: 20vw;
    height: 20vw;
    border: 1vw solid #ffffff;
    background: #f5c97b;
    text-align: center;
    line-height: 15vw;
}
.brk2{

    font-size: 18px;
}
.brk3{
    width: 20vw;
    height: 5vw;
    background:rgba(50,180,180,0.5);
    line-height: 5vw;
}
.brk4{
    color:#ffffff;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.brk5{
    width: 23vw;
    position: relative;
    top:5vw;
    right: 1.5vw;
    display: none;
}
.brk1:hover .brk5{
    display: block;
}
.brk1:hover{
    background: #ffdb9c;
    cursor:pointer;
}
footer{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100px;
    background: #29bde0;
    position: fixed;
    bottom: 0;
}
.crk0{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 85%;
    height: 100%;
    border-top: 1px solid #ffffff;
}
.ave{
    width: 85%;
}
button{
    width: 100%;
    height: 50px;
    background: #fbb435;
    border: 0;
}
.crk1{
    font-size: 20px;
    color: #ffffff;
}