body{
    margin: 0;padding: 0;
    background: #f0f0f0;
}
.ack{
    display: flex;
    flex-direction:column;
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
    background: #29bde0;
}
.ack1{
    height: 7px;
    width: 25px;
    margin-top: 20px;
    margin-left: 15px;
    border-top:2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.ack2{
    height: 7px;
    width: 25px;
    margin-left: 15px;
    border-bottom: 2px solid #ffffff;
}
.bck{
    display: flex;
    justify-content:space-between;
    height: 65px;
    width: 90%;
    background: #ffffff;
    border: 1px solid #68ffb6;
    margin: auto;
}
.bck1{
    height: 25px;
    margin-top: 20px;
    margin-right: 10px;
}
.bck2{
    margin-left: 25px;
}
.bck3{
    margin-top: 19px;
    font-size: 18px;
    color:#9a9a9a;
}
.cck{
    width: 90%;
    height: 445px;
    background: #ffffff;
    margin: 15px auto;
    border: 1px solid #68ffb6;
}
.cck1{
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fcc768;
    color:#fcc768;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
.cck2{
    height: 75px;
    width: 80%;
    margin: auto;
    background: #69d1e9;
    text-align: center;
}
.cck3{
    line-height: 75px;
    font-size: 18px;
    color:#ffffff;
}
.cck4{
    margin: 11px;
    font-size: 14px;
    color:#9a9a9a;
    text-align: center;
}
.cck5{
    height: 75px;
    display: flex;
    justify-content:space-between;
}
.cck6{
    height: 40px;
    margin-top: 20px;
    margin-right: 1.5vw;
}
.cck7{
    margin-left: 20px;
    margin-right: 1.5vw;
}
.dck{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 15px;
}
.dck1{
    width: 12px;
    height: 12px;
    margin: 3px;
    background: #f0f0f0;
    border-radius:50%;
}
.dck1:hover{
    background: #29bde0;
}