body{
    background: #fafafa;
}
.ana{
    color:#29b078;
    font-size: 12px;
    text-align: center;
}
header{
    width: 100%;
}
.ana1{
    height: 20px;
    float: right;
    margin-left: 15px;
    margin-top: 5px;
}
.ana0{
    height: 30px;
}
.ana2{}
.ana3{
    display: none;
    font-size: 14px;

    color:#999999;
}
.ana4{
    height: 16px;
    padding: 0 5px;
    margin-top: 7px;
    float: right;
    line-height: 15px;
}
.ana5{
    height: 16px;
    padding: 0 5px;
    margin-top: 7px;
    border-right: 1px solid #29b078;
    float: right;
    line-height: 15px;
}
@media(max-width: 991px) {
    .ana3{
        display: block;
    }
}
@media(max-width: 991px) {
    .ana2{
        display: none;
    }
}
.bg-light{
    background-color: #29b078 !important;
    padding: 0;
    min-height: 70px;
}
.navbar-brand{
    height: 55px;
    width: 100px;
    margin-left: 15px;
}
.anb2{
    margin: 15px;
}
.mr-auto, .mx-auto{
    margin-left: auto!important;
    margin-right: 0!important;
}
.anb{
    padding: 15px 20px!important;
    color:#ffffff !important;
    font-size: 14px;
    border-bottom: 3px solid rgba(0,0,0,0);
}
.anb1{
    min-height: 70px;
    line-height: 37px;
    text-align: center;
}
.anb:hover{
    color:#fea500!important;
    border-bottom: 3px solid #ffffff;
    text-decoration:none;
}
.anc{
    height: 14vw;
}
.anc1{
    height: 65px;
    line-height: 65px;
    font-size: 13px;
}
.anc2{
    color:#29b078;
}
.and{
    height: 740px;
    padding: 0;
    margin-right: 25px;
    margin-bottom: 40px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e3e3e3;
}
.and1{
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
}
.and2{
    display: flex;
    align-items: center;
    width: 11px;
    height: 11px;
    margin: 3px;
    border: 1px solid #ff640d;
    border-radius:50%;
}
.and4{
    height: 17px;
    margin-left: 13px;
    margin-bottom: 1px;
    min-width: 70px;
}
.and3{
    display: flex;
    width: 80px;
    margin: 35px auto;
    color:#29b078;
    font-size: 12px;
}
.and2:hover{
    color:#ff640d;
    background: #fea500;
}
.ane{
    background: #ffffff;
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e3e3e3;
}
.ane1{
    display: flex;
    justify-content:center;
    border-bottom: 1px solid #e6e6e6;
}
.ane2{
    height: 125px;
    min-width: 145px;
    max-width: 145px;
    margin: 20px 0 0 80px;
}
.ane3{
    margin: 20px 40px 20px 25px ;
    font-size: 14px;
    line-height: 30px;
    color:#949494;
}
.ane4{
    margin: 30px 60px 15px;
    font-size: 14px;
    line-height: 30px;
    color:#949494;
}
@media (max-width: 500px){
    .ane1{
        display: flex;
        flex-direction:column;
    }
}
.ani{
    height: 170px;
    margin-top: 200px;
    background: #29b078;
}
.ani1{
    line-height: 75px;
    color:#ffffff;
    font-size: 14px;
}
.ani2{
    font-size: 13px;
    padding-bottom: 3px;
}
.ani3{
    display: flex;
    flex-direction:column;
    line-height: 50px;
    margin-top: 13px;
    color:#ffffff;
    font-size: 14px;
}
.ani4{
    margin-right: 15px;
    font-size: 13px;
    padding-bottom: 3px;
}
.ani40{
    font-size: 13px;
    padding-bottom: 3px;
}
.ani5{
    width: 85px;
    float: right;
}
.ani6{
    margin: 25px 0 10px;
    color:#ffffff;
    font-size: 14px;
}
.ani7{
    height: 85px;
}
.ani8{
    line-height: 40px;
}
@media (max-width: 767px){
    .ani{
        height: 340px;
    }
}
.ani2:hover{
    border-bottom: 1px solid #fff;
}
.ani4:hover{
    border-bottom: 1px solid #fff;
}
.ani40:hover{
    border-bottom: 1px solid #fff;
}
.anj{
    height: 30px;
    background: #29b078;
    border-top: 1px solid #32c086;
    color:#ffffff;
    line-height: 30px;
    text-align: center;
    font-size: 0.8vw;
}