body{
    background: #fafafa;
}
.ana{
    color:#29b078;
    font-size: 12px;
    text-align: center;
}
header{
    width: 100%;
}
.ana1{
    height: 20px;
    float: right;
    margin-left: 15px;
    margin-top: 5px;
}
.ana0{
    height: 30px;
}
.ana2{}
.ana3{
    display: none;
    font-size: 14px;

    color:#999999;
}
.ana4{
    height: 16px;
    padding: 0 5px;
    margin-top: 7px;
    float: right;
    line-height: 15px;
}
.ana5{
    height: 16px;
    padding: 0 5px;
    margin-top: 7px;
    border-right: 1px solid #29b078;
    float: right;
    line-height: 15px;
}
@media(max-width: 991px) {
    .ana3{
        display: block;
    }
}
@media(max-width: 991px) {
    .ana2{
        display: none;
    }
}
.bg-light{
    background-color: #29b078 !important;
    padding: 0;
    min-height: 70px;
}
.navbar-brand{
    height: 55px;
    width: 100px;
    margin-left: 15px;
}
.anb2{
    margin: 15px;
}
.mr-auto, .mx-auto{
    margin-left: auto!important;
    margin-right: 0!important;
}
.anb{
    padding: 15px 20px!important;
    color:#ffffff !important;
    font-size: 14px;
    border-bottom: 3px solid rgba(0,0,0,0);
}
.anb1{
    min-height: 70px;
    line-height: 37px;
    text-align: center;
}
.anb:hover{
    color:#fea500!important;
    border-bottom: 3px solid #ffffff;
    text-decoration:none;
}
.anc1{
    height: 70px;
    margin-left: 1px;
    border-bottom: 1px solid #999999;
    line-height: 70px;
    font-size: 14px;
}
.anc2{
    color:#29b078;
}
.anc3{
    margin-left: 1px;
    line-height: 50px;
    border-bottom: 1px solid #d0d6d9;
}
.anc4{
    padding: 0;
    width: 35px;
    font-size: 13px;
    color: #a6a6a6;
}
.anc5{
    font-size: 13px;
    color: #020202;
}
.anc6{
    padding: 0;
}
.anc5:hover{
    background: #29b078;
    color: #ffffff;
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
.anc7{
    font-weight: 600;
    margin-bottom: 7px;
}
.and{
    display: grid;
    grid-template-rows: 55px 95px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-columns: 42% 8% 50%;
    margin: 50px 0 0 15px;
    border: 1px solid #d0d6d9;
    border-radius: 1%;
    box-shadow: 1px 1px 3px #e3e3e3;
    padding: 0;
    background: #ffffff;
    min-width: 365px;
    max-width: 365px;
}
@media (max-width: 575px){
    .and{
        margin-left: 0;
    }
}
@media(max-width: 991px) {
    .and{
        min-width: 300px;
        max-width: 345px;
    }
}
.and1{
    display: flex;
    justify-content:center;
    border-bottom: 1px solid #d0d6d9;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.and2{
    height: 125px;
    margin-top: 12px;
}
.and3{
    margin: 0;
    font-weight: 600;
    line-height: 65px;
    grid-column-end: 4;
    grid-column-start: 2;
}
.and4{
    padding-right: 10px;
    margin: 0;
    border-bottom: 1px solid #d0d6d9;
    font-size: 13px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    word-break: break-all;
}
.and5{
    display: flex;
    align-items:center;
    padding-left: 13px;
    border-bottom: 1px solid #d0d6d9;
    border-right: 1px solid #d0d6d9;
    font-size: 12px;
    color:#a6a6a6;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-column-start: 1;
}
.and6{
    margin-left: 13px;
}
.and7{
    display: flex;
    align-items:center;
    padding-left: 13px;
    border-bottom: 1px solid #d0d6d9;
    font-size: 12px;
    color:#a6a6a6;
    grid-row-start: 3;
    grid-column-end: 4;
}
.and8{
    display: flex;
    align-items:center;
    padding-left: 13px;
    border-bottom: 1px solid #d0d6d9;
    border-right: 1px solid #d0d6d9;
    font-size: 12px;
    color:#a6a6a6;
    grid-row-start: 4;
    grid-column-end: 3;
    grid-column-start: 1;
}
.and9{
    color: red;
    margin-left: 13px;
    font-weight: 600;
}
.and10{
    color: #020202;
}
.ane{
    display: flex;
    align-items:center;
    padding-left: 13px;
    border-bottom: 1px solid #d0d6d9;
    font-size: 12px;
    color:#a6a6a6;
    grid-row-start: 4;
    grid-column-end: 4;
}
.ane1{
    display: flex;
    justify-content: center;
    margin: 0;
    border-bottom: 1px solid #d0d6d9;
    border-right: 1px solid #d0d6d9;
    font-size: 12px;
    color:#a6a6a6;
    line-height: 120px;
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-end: 2;
}
.ane2{
    display: flex;
    justify-content:space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #d0d6d9;
    font-size: 12px;
    line-height: 40px;
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}
.ane3{
    display: flex;
    justify-content:space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #d0d6d9;
    font-size: 12px;
    line-height: 40px;
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}
.ane4{
    display: flex;
    justify-content:space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #d0d6d9;
    font-size: 12px;
    line-height: 40px;
    grid-row-start: 7;
    grid-column-start: 2;
    grid-column-end: 4;
}
.ane5{
    display: flex;
    align-items:center;
    padding-left: 13px;
    border-bottom: 1px solid #d0d6d9;
    font-size: 14px;
    font-weight: 600;
    grid-row-start: 8;
    grid-column-end: 4;
    grid-column-start: 1;
}
.ane6{
    color: red;
}
.ane7{
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 13px;
    font-size: 12px;
    color: #a6a6a6;
    grid-row-start: 9;
    grid-column-end: 4;
    grid-column-start: 1;
}
.anf{
    height: 100%;
    padding: 75px 40px 0;
    color:#ffffff;
    background: rgba(0,0,0,0.7);
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    border-radius: 1%;
    position: absolute;
    display: none;
    animation:anf 1s linear
}
@keyframes anf{
    50%{transform:rotateX(120deg);}
    80%{transform:rotateX(360deg);}
}
.and:hover .anf{
    display: block;
}
.ani{
    height: 170px;
    margin-top: 200px;
    background: #29b078;
}
.ani1{
    line-height: 75px;
    color:#ffffff;
    font-size: 14px;
}
.ani2{
    font-size: 13px;
    padding-bottom: 3px;
}
.ani3{
    display: flex;
    flex-direction:column;
    line-height: 50px;
    margin-top: 13px;
    color:#ffffff;
    font-size: 14px;
}
.ani4{
    margin-right: 15px;
    font-size: 13px;
    padding-bottom: 3px;
}
.ani40{
    font-size: 13px;
    padding-bottom: 3px;
}
.ani5{
    width: 85px;
    float: right;
}
.ani6{
    margin: 25px 0 10px;
    color:#ffffff;
    font-size: 14px;
}
.ani7{
    height: 85px;
}
.ani8{
    line-height: 40px;
}
@media (max-width: 767px){
    .ani{
        height: 340px;
    }
}
.ani2:hover{
    border-bottom: 1px solid #fff;
}
.ani4:hover{
    border-bottom: 1px solid #fff;
}
.ani40:hover{
    border-bottom: 1px solid #fff;
}
.anj{
    height: 30px;
    background: #29b078;
    border-top: 1px solid #32c086;
    color:#ffffff;
    line-height: 30px;
    text-align: center;
    font-size: 0.8vw;
}