body{
    background: #fafafa;
}
.ana{
    color:#29b078;
    font-size: 12px;
    text-align: center;
}
header{
    width: 100%;
}
.ana1{
    height: 20px;
    float: right;
    margin-left: 15px;
    margin-top: 5px;
}
.ana0{
    height: 30px;
}
.bg-light{
    background-color: #29b078 !important;
    padding: 0;
    min-height: 70px;
}
.navbar-brand{
    height: 55px;
    width: 125px;
}
.anb2{
    margin: 15px;
}
.mr-auto, .mx-auto{
    margin-left: auto!important;
    margin-right: 0!important;
}
.anb{
    padding: 15px 20px!important;
    color:#ffffff !important;
    font-size: 14px;
    border-bottom: 3px solid rgba(0,0,0,0);
}
.anb1{
    min-height: 70px;
    line-height: 37px;
    text-align: center;
}
.anb:hover{
    color:#fea500!important;
    border-bottom: 3px solid #ffffff;
    text-decoration:none;
}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    border: 0;
}
.carousel-inner{
    height: 31vw;
}
.anc8{
    border-radius:50%;
}
.anc8:hover{
    background: #29b078;
}
.and{
    margin-top: 11vw;
}
.and1{
    text-align: center;
}
.and2{
    height: 50px;
    margin-bottom: 1rem;
}
.and3{
    font-weight: 600;
}
.and4{
    color: #999999;
    font-size: 14px;
}
.and5{
    height: 14px;
    margin-top: 8px;
}
.and6{
    color:#29b078;
    margin: 3px;
}
.and7{
    padding-left: 15px;
    margin-top: 18px;
}
.and8{
    display: flex;
    justify-content:center;
    margin-left: 35px;
    border-left: 1px dashed #999999;
}
.and9{
    width: 130px;
}
@media (max-width: 991px){
    .and8{
        border-left: 0;
    }
}
.ane{
    margin-top: 8vw;
}
.ane1{
    margin: auto;
    font-weight: 600;
}
.ane2{
    width: 60px;
    height: 60px;
    margin-right: 1vw;
    background: #ffffff;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    box-shadow: -1px 1px 3px #e3e3e3;
    text-align: center;
    line-height: 57px;
    color:#29b078;
    font-weight: 600;
    font-size: 20px;
}
.ane21{
    width: 130px;
}
.ane3{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top: 45px;
    padding: 0;
    font-size: 13px;
    color:#999999;
}
.ane4{
    height: 25px;
    margin-left: 1.3vw;
}
.anf{
    width: 220px;
    height: 320px;
    margin-top: 50px;
    background: #ffffff;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 5px #e3e3e3;
}
.anf1{
    height: 90px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.anf0{
    width: 90px;
    margin: auto;
}
.anf2{
    width: 180px;
    margin: auto;
}
.anf3{
    text-align: center;
    font-weight: 600;
}
.anf4{
    font-size: 14px;
    color:#999999;
}
.anf5{
    display: flex;
    justify-content:center;
    padding: 0;
}
.anf:hover{
    border: 3px #999999;
    box-shadow: -5px 5px 10px #999999;
}
.anf6{
    width: 13px;
    height: 13px;
    margin: 20px 2px;
    background: #ffffff;
    border-radius:50%;
    box-shadow: 1px 1px 5px #e3e3e3;
    border: 1px solid #eeeded;
}
.anf6:hover{
    background: #29b078;
}
.anf7{
    width: 68px;
    margin: auto;
}
.ang{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    background: #ffffff;
    box-shadow: 1px 1px 5px #e3e3e3;
    border: 1px solid #eeeded;
}
.ang0{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 160px;
    padding: 0;
}
.ang1{
    height: 150px;
}
.ang2{
    height: 55px;
}
.ang3{
    height: 120px;
}
.ang0:hover{
    box-shadow: 2px 2px 10px #d7d7d7;
}
.anh{
    height: 120px;
    margin-top: 80px;
    background: #ffffff;
}
.anh1{
    display: flex;
    justify-content:center;
    line-height: 50px;
    font-weight: 600;
}
.anh2{
    display: flex;
    justify-content:center;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color:#999999;
    line-height: 26px;
}
.anh4{
    width: 76px;
    border-bottom: 1px solid #ffffff;
}
.anh4:hover{
    color:#999999;
    border-bottom: 1px solid #29b078;
    text-decoration:none;
}
@media (max-width: 991px){
    .anh{
        height: 330px;
    }
}
.ani{
    height: 170px;
    background: #29b078;
}
.ani1{
    line-height: 75px;
    color:#ffffff;
    font-size: 14px;
}
.ani2{
    font-size: 13px;
    padding-bottom: 3px;
}
.ani3{
    display: flex;
    flex-direction:column;
    line-height: 50px;
    margin-top: 13px;
    color:#ffffff;
    font-size: 14px;
}
.ani4{
    margin-right: 15px;
    font-size: 13px;
    padding-bottom: 3px;
}
.ani40{
    font-size: 13px;
    padding-bottom: 3px;
}
.ani5{
    width: 85px;
    float: right;
}
.ani6{
    margin: 25px 0 10px;
    color:#ffffff;
    font-size: 14px;
}
.ani7{
    height: 85px;
}
.ani8{
     line-height: 40px;
}
@media (max-width: 767px){
    .ani{
        height: 340px;
    }
}
.ani2:hover{
    border-bottom: 1px solid #fff;
}
.ani4:hover{
    border-bottom: 1px solid #fff;
}
.ani40:hover{
    border-bottom: 1px solid #fff;
}
.anj{
    height: 30px;
    background: #29b078;
    border-top: 1px solid #32c086;
    color:#ffffff;
    line-height: 30px;
    text-align: center;
    font-size: 0.8vw;
}