.cpng{
    height: 14vw;
    width: 100%;
}
.partner{
    margin-left: 1px;
    line-height: 65px;
    font-size: 13px;
    .partner-span{
        color:#29b078;
    }
}
.partner-1{
    height: 750px;
    margin:0 40px 40px 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e3e3e3;
    p{
        height: 65px;
        margin: 0;
        border-bottom: 1px solid #e6e6e6;
        text-align: center;
        line-height: 60px;
        font-weight: 600;
    }
    .partner-2{
        display: flex;
        align-items: center;
        height: 56px;
        width: 83px;
        margin: auto;
        font-size: 13px;
        color:#29b078;
        input[type="radio"]{
            width: 13px;
            height: 13px;
            margin-right: 4px;
            -webkit-appearance: none;
            outline: none;
        }
        input[type="radio"]::before{
            content: "";
            height: 13px;
            width: 13px;
            border-radius: 50%;
            border: 1px solid #ff640c;
            position: absolute;
        }
        input[type="radio"]:checked::before{
            background: #f9a372;
        }
        input[type="radio"]:checked~ label{
            color:#ff640c;
        }
    }
}
.list{
    padding: 0;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e3e3e3;
    color:#999;
    font-size: 14px;
    line-height: 30px;
    .list-1{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        img{
            margin: 20px 40px;
            min-width: 134px;
            max-height: 122px;
        }
        span{
            margin: 20px 40px 20px 0;
        }
        @media(max-width: 500px){
            span{
                margin: 20px 40px;
            }
        }
    }
    @media(max-width: 500px){
        .list-1{
            flex-direction: column;
        }
    }
    p{
        margin: 40px 40px 0;
    }
    .p-1{
        margin: 40px;
    }
}
footer{
    margin-top: 200px;
}