.guild{
    margin-left: 1px;
    line-height: 65px;
    font-size: 14px;
    border-bottom: 1px solid #d0d6d9;
    .guild-span{
        color:#29b078;
    }
}
.guild-1{
    margin-left: 1px;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px;
    .guild-1-span{
        color:#999;
    }
    .guild-2{
        padding: 0;
        a{
            color:#000;
            &:hover{
                background: #29b078;
                color: #ffffff;
                text-decoration:none;
            }
        }
    }
}
.guild-3{
    @extend .guild;
    font-weight: 600;
}
.content{
    display: grid;
    grid-template-rows: 55px 95px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-columns: 42% 8% 50%;
    max-width: 360px;
    margin-top: 50px;
    border: 1px solid #d0d6d9;
    border-radius: 1%;
    box-shadow: 1px 1px 3px #e3e3e3;
    background: #fff;
    position: relative;
    .tpng{
        border-bottom: 1px solid #d0d6d9;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        img{
            width: 125px;
            margin: 10px;
        }
    }
    p{
        font-weight: 600;
        line-height: 65px;
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .content-1{
        font-size: 12px;
        border-bottom: 1px solid #d0d6d9;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-end: 3;
        word-break: break-all;
    }
    .cill{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d0d6d9;
        font-size: 12px;
        color:#999;
        padding-left: 8px;
        grid-column-start: 1;
        grid-column-end: 3;
        img{
            margin: 5px;
        }
    }
    .cill-1{
        @extend .cill;
        border-left: 1px solid #d0d6d9;
        grid-column-start: 3;
    }
    .cill-2{
        @extend .cill;
        .cill-span{
            margin-left: 5px;
            color:red;
            font-weight: 600;
        }
    }
    .need{
        @extend .cill-2;
        border-left: 1px solid #d0d6d9;
        grid-column-start: 3;
    }
    .need-1{
        @extend .cill;
        justify-content: center;
        padding: 0;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 8;
    }
    .time{
        @extend .cill;
        justify-content: space-between;
        padding: 0 10px 0 20px;
        border-left: 1px solid #d0d6d9;
        color:#000;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .quantity{
        @extend .cill-2;
        font-size: 15px;
        font-weight: 600;
        color:#000;
        grid-column-end: 4;
    }
    .quantity-1{
        @extend .cill;
        border: 0;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    @media(max-width: 377px){
        p,.content-1{
            padding-left: 30px;
        }
    }
    .eject{
        height: 100%;
        padding: 45px 40px 0;
        color:#ffffff;
        background: rgba(0,0,0,0.7);
        grid-row-start: 1;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        border-radius: 1%;
        position: absolute;
        display: none;
        animation:anf 1s linear;
    }
    @keyframes anf{
        50%{transform:rotateX(120deg);}
        80%{transform:rotateX(360deg);}
    }
}
.content:hover .eject{
    display: block;
}
footer{
    margin-top: 200px;
}