$fon-color:#999;
@mixin flex {
    display: flex;
    align-items: center;
    justify-content:center;
}
.column{
    margin-top: 120px;
    .column-1{
        text-align: center;
        margin-bottom: 25px;
        img{
            height: 40px;
            margin-bottom: 20px;
        }
        p{
            font-weight: 600;
        }
        span{
            font-size: 13px;
            color:$fon-color;
        }
    }
    .column-2{
        margin-left: 50px;
        padding: 25px 0 0 60px;
        border-left: 1px dashed $fon-color;
        text-align: left;
        .column-span{
            @include flex;
            width: 56px;
            margin-top: 10px!important;
            @media (max-width:991px){
                margin: auto;
            }
            p{
                margin: 0;
                color:#29b078;
                font-weight: 600;
            }
        }
        span{
            font-size: 13px;
            color:$fon-color;
        }
    }
    @media (max-width: 991px){
        .column-2{
            border-left: 0;
            padding-left: 0;
            margin: 0;
            text-align: center;
        }
    }
}
.study{
    @include flex;
    margin: 100px 0 50px;
    font-weight: 600;
}
.study-1{
    @include flex;
    margin-bottom: 25px;
    padding: 0;
    .round{
        width: 55px;
        height: 55px;
        margin-right: 1vw;
        border: 1px solid #f5f5f5;
        border-radius: 50%;
        box-shadow: -1px 1px 3px #e3e3e3;
        background: #fff;
        color:#29b078;
        font-size: 19px;
        font-weight: 600;
        text-align: center;
        line-height: 53px;
    }
    span{
        width: 130px;
        font-size: 13px;
        color:$fon-color;
    }
    img{
        height: 25px;
        margin-left: 1.2vw;
    }
}
.card{
    width: 230px;
    height: 310px;
    margin: 0 auto 35px;
    box-shadow: 1px 1px 5px #e3e3e3;
    img{
        width: 90px;
        margin: 15px auto 25px;
    }
    p{
        text-align: center;
        font-weight: 600;
    }
    span{
        width: 170px;
        margin: auto;
        font-size: 14px;
        line-height: 24px;
        color:$fon-color;
    }
    &:hover{
        box-shadow: -5px 5px 10px $fon-color;
    }
}
.btnc{
    width: 76px;
    margin: auto;
    div{
        width: 15px;
        height: 15px;
        margin: 2px;
        background: #ffffff;
        border-radius:50%;
        box-shadow: 1px 1px 5px #e3e3e3;
        border: 1px solid #eeeded;
        &:hover{
            background: #29b078;
        }
    }
}
.partner{
    margin: 0 15px;
    background: #ffffff;
    box-shadow: 1px 1px 5px #e3e3e3;
    border: 1px solid #eeeded;
    .partner-1{
        @include flex;
        height: 150px;
        padding: 0;
        .png-1{
            height: 135px;
        }
        .png-2{
            height: 120px;
        }
        .png-3{
            height: 60px;
        }
        &:hover{
            box-shadow: 2px 2px 10px #d7d7d7;
        }
    }
}
.friendlinks{
    height: 120px;
    margin-top: 80px;
    background: #ffffff;
    .friendlinks-1{
        display: flex;
        align-items: center;
        justify-content:center;
        line-height: 55px;
        font-weight: 600;
    }
    .anh2{
        @extend .friendlinks-1;
        padding: 0;
        color:#999;
        font-size: 13px;
        line-height: 26px;
        .anh4{
            width: 72px;
            border-bottom: 1px solid #ffffff;
            cursor:pointer;
            &:hover{
                color:#999999;
                border-bottom: 1px solid #29b078;
                text-decoration:none;
            }
        }
    }
}
@media(max-width:991px){
    .friendlinks{
        height: 330px;
    }
}