$header-background:#1aa0e8;
@mixin display {
    display: flex;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 480px;
    min-width: 320px;
    margin: auto;
    background: #fff;
}
header{
    @include display;
    height: 60px;
    background: $header-background;
    font-size: 18px;
    color: #fff;
    img{
        height: 25px;
        margin: 0 40px 0 10px;
    }
}
main{
    background: #f0f4f7;
    padding-top: 15px;
    .loginbar{
    @include display;
    border: 1px solid #f0f4f7;
    background: #fff;
    img{
        height: 25px;
        padding: 0 20px;
        border-right: 1px solid #f0f4f7;
    }
    input{
        height: 55px;
        margin-left: 25px;
        border: 0;
        font-size: 16px;
        outline:none;
    }
    input::-webkit-input-placeholder{
        font-size: 13px;
    }
    }
    .btn{
    display: flex;
    justify-content: center;
    button{
        width: 90%;
        height: 50px;
        margin-top: 20px;
        border: 0;
        border-radius: 7px;
        background: $header-background;
        font-size: 17px;
        color: #fff;
    }
    }
    .joinus{
    display: flex;
    justify-content: space-between;
    margin: 5px 5% 0;
    a{
        font-size: 14px;
        color: #666;
        text-decoration: none;
        &:hover{
            color:$header-background
        }
    }
    }
    msg{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    background: #f0f4f7;
    color: #666;
    font-size: 14px;
    div{
        width: 30%;
        margin-bottom: 8px;
        border-bottom:1px solid #bfc1c3 ;
    }
    }
}
footer{
    display: flex;
    justify-content:space-around;
    height: 150px;
    background: #f0f4f7;
    .circle{
    display: flex;
    flex-direction: column;
    span{
        font-size: 12px;
        text-align: center;
    }
    img{
        height: 20px;
    }
    }
    .cir{
    @include display;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 20px 4px 8px;
    border-radius: 50%;
    background: #8bca00;
    &:hover{
        background: lightseagreen;
    }
    }
    .cir1{
    background: #68a4e8;
    }
    .cir2{
    background: #f76364;
    }
}