$header-background:#29bde0;
@mixin flex {display: flex;align-items: center;justify-content: space-between;}
body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 480px;
    min-width: 320px;
}
header{
    @include flex;
    @extend body;
    height: 60px;
    background: $header-background;
    color:#fff;
    font-size: 20px;
    position: fixed;
    z-index: 10;
    img{
        height: 33px;
        margin: 10px;
    }
}
.title{
    @extend body;
    height: 100px;
    background: $header-background;
    position: fixed;
    top:60px;
    z-index: 10;
    .title-1{
        @include flex;
        height: 55px;
        padding-left: 35px;
        background: #b9e9f5;
        color:#464646;
        position: relative;
        img{
            height: 40px;
            position: absolute;
            right: 14px;
            cursor:pointer;
        }
        audio{
            width: 90px;
            margin-right: -30px;
            opacity:0;
        }
    }
    .triangle{
        width: 0;
        height: 0;
        margin-left: 40px;
        border: 9px solid;
        border-color: #b9e9f5 transparent transparent transparent;
    }
    .span-1{
        margin-left: 40px;
        font-size: 13px;
        color:#fff;
    }
}
main{
    height: 750px;
    background: $header-background;
    position: relative;
    top:160px;
}
.content{
    display: flex;
    justify-content: space-around;
    .tips{
        background: #f5c97b;
        width: 20%;
        height: 0;
        margin: 5% 0 6%;
        padding-bottom: 20%;
        border: 3px solid #fff;
        border-radius: 5px;
        font-size: 19px;
        color:#565656;
        line-height:70px;
        text-align: center;
        position: relative;
        cursor:pointer;
        @media (max-width:375px) {
            line-height: 40px;
        }
        .tips-1{
            height: 22px;
            width: 100%;
            background:rgba(50,180,180,0.5);
            color:#fff;
            font-size: 17px;
            line-height: 24px;
            position: absolute;
            bottom: 0;
        }
        &:hover{
            background: #ffdb9c;
        }
    }
    img{
        width: 113%;
        position: absolute;
        bottom: -45%;
        left: -6%;
        display: none;
    }
}
.tips:hover img{
    display: block;
}
footer{
    @extend body;
    height: 120px;
    background: $header-background;
    position: fixed;
    bottom: 0;
    div{
        @extend .content;
        align-items: center;
        height: 100%;
        width: 80%;
        margin: auto;
        border-top: 2px solid #fff;
        a{
            width: 90%;
            height: 55px;
            border: 0;
            border-radius: 5px;
            background: #fbb435;
            color:#fff;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            line-height: 55px;
        }
    }
}