$header-background:#29bde0;
@mixin flex {display: flex;align-items: center;justify-content: space-between;}
body{
    width: 100%;
    height: 822px;
    margin: 0 auto;
    padding: 0;
    max-width: 480px;
    min-width: 320px;
}
header{
    @include flex;
    height: 60px;
    border-bottom: 1px solid #74d4eb;
    background: $header-background;
    color:#fff;
    font-size: 19px;
    img{
        height: 27px;
        margin: 10px;
    }
}
main{
    height: 370px;
    background: $header-background;
}
.content{
    width: 75%;
    height: 100%;
    margin: auto;
    .logo{
        width: 223px;
        height: 150px;
        margin: auto;
        text-align: center;
        color:#fff;
        font-size: 25px;
        img{
            height: 120px;
            margin-top: 20px;
        }
        span{
            position: relative;
            bottom: 49px;
        }
    }
    .content-title{
        height: 80px;
        margin-bottom: 20px;
        color:#ffc865;
        font-size: 19px;
    }
    .content-1{
        color:#fff;
        font-size: 14px;
        line-height: 23px;
        .content-2{
            @include flex;
            div{
                margin-left: 66px;
            }
        }
    }
}
.msg{
    height: 105px;
    background: #fbfbfb;
    border: 1px solid #e1e5e7;
    .msg-1{
        @extend .content;
        color:#999;
        font-size: 15px;
        line-height: 25px;
        div{
            @include flex;
            height: 30px;
            font-size: 18px;
            color:#000;
            .span-1{
                color:#c7c7c7;
                font-size: 13px;
            }
        }
    }
}
footer{
    @extend body;
    @include flex;
    justify-content: space-around;
    height: 70px;
    background: rgba(41,189,224,0.5);
    position: fixed;
    bottom:0;
    button{
        width: 40%;
        height: 45px;
        border: 0;
        border-radius: 7px;
        font-size: 20px;
        color:#fff;
        background: #f66f6f;
    }
    .btn{
        @extend button;
        background: #fbb435;
    }
}