body {
  margin: 0 auto;
  padding: 0;
  max-width: 480px;
  min-width: 320px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #29bde0;
  font-size: 20px;
  color: #fff;
}
header img {
  height: 30px;
  margin: 10px;
}

main {
  background: #fbfbfb;
  padding: 8px 0;
}
main .title {
  width: 95%;
  height: 40px;
  margin: auto;
  background: #fff;
  border: 1px solid #e1e5e7;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  text-align: center;
  color: #29bde0;
  font-size: 18px;
  line-height: 40px;
}
main .content {
  width: 95%;
  height: 220px;
  margin: 5px auto;
  background: #fff;
  border: 1px solid #e1e5e7;
  border-radius: 5px;
  color: #29bde0;
}
main .content .killer {
  display: flex;
  align-items: center;
  width: 30%;
  height: 55px;
  padding-left: 15%;
  float: left;
}
main .content .killer div {
  width: 7px;
  height: 7px;
  background: #fab344;
  margin-right: 5px;
}
main .content-1, main .select {
  width: 95%;
  height: 100px;
  margin: auto;
  background: #fff;
  border: 1px solid #e1e5e7;
  border-radius: 5px;
}
main .content-1 .good, main .select .good {
  width: 65%;
  margin: 13px auto 0;
  border-bottom: 3px solid #e1e5e7;
  color: #afafaf;
  font-weight: 600;
}
main .content-1 .good input, main .select .good input {
  width: 55%;
  border: 0;
  padding: 0;
  outline: none;
}
main .content-1 .good input::-webkit-input-placeholder, main .select .good input::-webkit-input-placeholder {
  color: #e1e5e7;
}
main .select {
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: 5px;
}
main .select .select-1 {
  display: flex;
  align-items: center;
  margin: 25px auto 0;
  color: #29bde0;
  font-size: 17px;
  font-weight: 600;
}
main .select .select-1 input[type="tel"] {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  border: 0;
  border-radius: 3px;
  background: #e1e5e7;
  outline: none;
}
main .select .select-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .select input[type="range"] {
  -webkit-appearance: none;
  width: 56%;
  height: 4px;
  margin: 25px 0;
  background: #fab344;
  border-radius: 5px;
  outline: none;
}
main .select input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 20px;
  background: #29bde0;
  border-radius: 3px;
  cursor: pointer;
}
main .select input[type="range"]::-webkit-slider-thumb:hover {
  border: 2px solid #fab344;
}
main .select .btn, main .select .btn-1 {
  width: 17px;
  height: 17px;
  margin-left: 12%;
  padding: 0;
  border: 1px solid #afafaf;
  border-radius: 2px;
  background: #fff;
  font-size: 30px;
  color: #fab344;
  outline: none;
  cursor: pointer;
}
main .select .btn:hover, main .select .btn-1:hover {
  border: 1px solid #fab344;
}
main .select .btn span, main .select .btn-1 span {
  position: relative;
  bottom: 11px;
}
main .select .btn-1 {
  margin-left: 0;
  margin-right: 12%;
  font-size: 20px;
  font-weight: 600;
}
main .select .btn-1 span {
  position: relative;
  bottom: 3px;
}

footer {
  display: flex;
  justify-content: center;
  height: 96px;
  background: #fbfbfb;
}
footer button {
  width: 95%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #fab344;
  font-size: 18px;
  color: #fff;
}

/*# sourceMappingURL=2-1.css.map */
